:host {
  background-color: #ffffff;
  .list-container {
    width: 100%;
    height: 100%;
    background-color: #802d2d;
    .chat {
      width: 100%;
      height: 70px;
      background-color: #19ce6b;
      display: flex;
      align-items: center;
      align-content: center;
      .photo {
        width: 20%;
        height: 80%;
        margin-left: 20px;
        border-radius: 70%;
        background-color: aquamarine;
        overflow: hidden;
      }
      .people-name {
        margin-left: 10px;
      }
    }
  }
}
